///////////////////Variables////////////////////////////
$border: 1px solid rgb(102, 101, 101);
$t-shadow: 2px 2px 5px rgb(31, 30, 30);
///////////////////Main settings/////////////////////////////
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "KoHo", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  background: transparent;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.title {
  margin: 0;
  padding: 2rem;
  text-align: center;
}
////////////////////////First page////////////////////////////////
.header {
  overflow: hidden;
  min-height: 100%;
}
.ibg {
  background-image: url("../../img/volny_riab_voda.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen {
  flex: 1 1 100%;
  position: relative;
  &__bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40%;
  z-index: 10;

  img {
    width: 100%;
    border-radius: 1em;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.596);
    &:hover {
      box-shadow: 2px 2px 3px rgba(29, 29, 29, 0.596);
    }
  }
}
.navigation {
  visibility: hidden;
  position: absolute;
  left: 0;
  border-radius: 10px;
  background-color: rgba(99, 98, 98, 0.445);
  transition: all 0.5s;
  &:hover {
    visibility: visible;
  }
}
.animation-slide {
  animation: slide 1 1s;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// .animation-opasity{
//   animation: opasity 1 1s;
// }
// @keyframes opasity{
//   0% {
//     opacity: 1;
//     transform: translateX(0);
//   }
//   100% {
//     opacity: 0;
//     transform: translateX(200px);
//   }
// }
.visible {
  visibility: visible;
}
.list__item {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: transform 0.5s;
  padding-right: 20px;
  &:hover {
    background-color: rgba(245, 237, 237, 0.336);
    transform: translateX(-15px);
  }
  a {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1.7rem;
    color: white;
    text-shadow: $t-shadow;
  }
}
////////////////////////////Skills///////////////////////////////////
#skills {
  display: flex;
}
.ration-table {
  text-align: left;
}
.ration-table__item {
  padding: 1.2rem;
  font-size: 1.5rem;
}
progress {
  color: purple; /* IE10 */
  background: linear-gradient(pink, blue, rgb(106, 74, 119));
  border-radius: 10px;
}
progress::-moz-progress-bar {
  background: linear-gradient(pink, blue, rgb(106, 74, 119)); /* Firefox */
}
progress::-webkit-progress-value {
  background: linear-gradient(pink, blue, rgb(106, 74, 119)); /* Chrome */
}
.left-side {
  position: relative;
  width: 40%;
  background-image: url("../../img/mountains.jpg");
  background-size: cover;
  h2 {
    position: absolute;
    font-size: 4rem;
    top: 40%;
    color: white;
    text-shadow: $t-shadow;
  }
}
.rigt-side {
  width: 60%;
  text-align: center;
}
////////////////////////////Portfolio///////////////////////////////
#works {
  background-image: linear-gradient(rgb(79, 154, 252), rgba(95, 226, 226, 0.486), white);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: center;
}
.column {
  flex: 28%;
  max-width: 28%;
}
figure {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 595px;
  margin: 30px 15px;
  border: $border;
  border-radius: 10px;
  color: rgb(3, 15, 15);
  font-size: 1.3rem;
  background-image: linear-gradient(rgb(46, 137, 255), rgba(95, 226, 226, 0.486), white);
  &:hover {
    box-shadow: 3px 3px 10px 0px rgb(65, 64, 64);
  }
  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  p {
    padding: 0 1rem;
    text-indent: 1rem;
    text-align: justify;
  }
}
/////////////////////Footer////////////////////////////////
.footer {
  min-height: 100px;
  background-color: rgb(48, 48, 48);
}

//////////////////////Scroll to top////////////////////////
.scroll {
  border-radius: 50%;
  transition: 2s ease-in-out;
}
.scroll-top-btn {
  position: fixed;
  right: 10px;
  bottom: 11px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 1px rgb(121, 120, 120);
  background-color: rgba(219, 218, 218, 0.541);
  z-index: 5;
  &:hover {
    box-shadow: 3px 3px 12px 2px rgb(68, 68, 68);
  }
}
.scroll-top-btn-icon {
  display: block;
  position: relative;
  top: 4px;
  left: 4px;
  width: 30px;
  height: 30px;
}
