//////////////////////Variables////////////////////////////
$border: 1px solid rgb(102, 101, 101);
$b-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
$b-shadow-dark: 10px 10px 10px rgba(0, 0, 0, 0.596);
$t-shadow: 2px 2px 5px rgb(31, 30, 30);
$l-gradient: linear-gradient(
  to right,
  rgb(34, 250, 239),
  rgb(49, 49, 221),
  rgb(140, 20, 187)
);

///////////////////Main settings/////////////////////////////
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "KoHo", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0;
  height: 0;
  background: transparent;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.title {
  margin: 0;
  padding: 2rem;
  text-align: center;
}
.title-side {
  position: relative;
  width: 40%;
  max-height: 650px;
  background-size: cover;
  box-shadow: $b-shadow-dark;
  &.contacts__header {
    box-shadow: none;
  }
  h2 {
    position: absolute;
    width: 100%;
    font-size: 4rem;
    top: 50%;
    margin-top: -2rem;
    color: white;
    text-shadow: $t-shadow;
  }
}
.content-side {
  width: 60%;
  max-height: 650px;
}
#about,
#skills,
#certificates,
#works {
  display: flex;
  margin: 0 auto 4rem;
  max-width: 1920px;
}
.right-position {
  display: flex;
  flex-direction: row-reverse;
}
.left-header {
  margin-left: 1rem;
  border-bottom-left-radius: 63%;
  border-top-right-radius: 65%;
}
.right-header {
  margin-right: 1rem;
  border-bottom-right-radius: 63%;
  border-top-left-radius: 65%;
}
////////////////////////Title page/////////////////////////////
.header {
  overflow: hidden;
  min-height: 100%;
  box-shadow: $b-shadow-dark;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen {
  flex: 1 1 100%;
  position: relative;
  &__bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &.ibg {
      background-image: url("../../img/volny_riab_voda.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 47%;
  z-index: 10;
  img {
    width: 100%;
    border-radius: 1em;
    box-shadow: $b-shadow;
    transition: all 0.5s;
    &:hover {
      box-shadow: $b-shadow-dark;
    }
  }
}
.navigation {
  position: absolute;
  visibility: hidden;
  left: -3.5rem;
  height: 98.5%;
  border-radius: 10px;
  background-color: rgba(99, 98, 98, 0.445);
  transition: all 0.5s;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
.navigation__item {
  text-align: center;
  border-radius: 10px;
  transition: transform 0.5s;
  padding-right: 20px;
  transition: all 0.5s;
  &:hover {
    background-color: rgba(245, 237, 237, 0.336);
    transform: translateX(-15px);
    box-shadow: $b-shadow-dark;
  }
  a {
    display: block;
    padding: 0.35rem 2rem;
    font-size: 1.71rem;
    color: white;
    text-shadow: $t-shadow;
  }
}
////////////////////////////About///////////////////////////////
#about {
  margin-top: 4rem;
}
.about__header {
  background-image: url("../../img/skaly_more_okean_zakat.jpg");
}
.about__content {
  display: flex;
  &_text {
    font-size: 1.5rem;
    padding: 4rem;
  }
}
blockquote {
  text-align: right;
  font-style: italic;
}
.avatar {
  position: relative;
  .icon_me {
    visibility: hidden;
    position: absolute;
    top: -120%;
    right: -120%;
    transition: all 0.5s;
    animation: fade-out 1s 1;
  }
  &:hover {
    cursor: pointer;
    & .icon_me {
      animation: fade-in 1s 1;
      visibility: visible;
      &:hover {
        transform: scale(2.5) translateY(-30px) translateX(20px);
      }
    }
  }
}
//////////////////////////Skills///////////////////////////////
.skills__header {
  background-image: url("../../img/whils.jpg");
}
.skills__content {
  text-align: center;
}
.ration-table {
  margin: 1.6rem 0;
  text-align: right;
}
.ration-table__item {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
progress {
  width: 80%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border: 0;
  margin: 0 1.5rem 0 0.5rem;
  background: #eee;
  border-radius: 10px;
  color: rgb(177, 172, 177); /* IE10 */
  // &[data-descr]{
  //   position: relative;
  //   cursor: help;
  // }
  // &[data-descr]:hover::after {
  //   content: attr(data-descr);
  //   position: absolute;
  //   left: 0;
  //   top: 24px;
  //   min-width: 200px;
  //   border: 1px #aaaaaa solid;
  //   border-radius: 10px;
  //   background-color: #ffffcc;
  //   padding: 12px;
  //   color: #000000;
  //   font-size: 14px;
  //   z-index: 1;
  // }
}
progress::-webkit-progress-bar {
  background: #eee;
  border-radius: 10px;
}
progress::-moz-progress-bar {
  border-radius: 10px;
  background: $l-gradient; /* Firefox */
}
progress::-webkit-progress-value {
  border-radius: 10px;
  background: $l-gradient; /* Chrome */
}

//////////////////////////////Certificates//////////////////
#certificates {
  position: relative;
}
.certificates__header {
  background-image: url("../../img/skaly_vecher_serye.jpg");
  z-index: 5;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    background: transparent;
  }
  &.content-side::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3rem;
    background: linear-gradient(white, transparent);
    z-index: 1;
  }
  &.content-side::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0;
    background: linear-gradient(transparent, white);
    z-index: 1;
  }
}
.certificates__grid {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1800px;
  justify-content: center;
  column-count: 2;
}
.certificate__galary {
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(92, 90, 90, 0.678);
}
.certificate {
  position: relative;
  max-width: 44%;
  margin: 1rem;
  border-radius: 5px;
  color: rgb(3, 15, 15);
  font-size: 1.3rem;
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 3px 10px 0px rgb(65, 64, 64);
  }
  &:hover .description {
    visibility: visible;
    animation: slide-up 0.5s 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.certificate__img {
  width: 100%;
  border-radius: 5px;
}
.description {
  position: absolute;
  visibility: hidden;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  bottom: 0;
  text-align: center;
  background: rgba(220, 220, 220, 0.753);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.galary-certificate {
  max-width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  z-index: 50;
}
.right-btn,
.left-btn {
  cursor: pointer;
  top: calc(50% - 20px);
  &.mini-navigation {
    position: absolute !important;
  }
}
.right-btn {
  right: calc(12% - 2rem) !important;
  transform: rotate(90deg);
}
.left-btn {
  left: calc(12% - 2rem);
  transform: rotate(-90deg);
}
.close-btn {
  position: absolute !important;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  .fa-angle-up {
    top: 3px;
  }
}
.fa-angle-down {
  font-size: 2.4em !important;
  top: -5px;
  position: absolute;
}
//////////////////////////Works////////////////////////////
#works {
  position: relative;
}
.works__header {
  background-image: url("../../img/gory_les_sumerki.jpg");
  z-index: 5;
}

.column {
  flex: 49%;
  max-width: 49%;
}
.work {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 595px;
  margin: 30px 15px;
  border: $border;
  border-radius: 10px;
  color: rgb(3, 15, 15);
  font-size: 1.3rem;
  transition: all 0.5s;
  &:hover {
    box-shadow: 3px 3px 10px 0px rgb(65, 64, 64);
  }
}
.work__img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  img {
    margin-bottom: -5px;
    width: 100%;
  }
}
.work__caption {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(
    to top,
    rgba(34, 250, 239, 0.356),
    rgba(69, 69, 255, 0.548),
    rgba(140, 20, 187, 0.356)
  );
  p {
    padding: 0 1rem;
    text-indent: 1rem;
    text-align: justify;
  }
}
////////////////////Contacts///////////////////////////////
#contacts {
  margin: 0 auto;
  position: relative;
}
.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1444px;
  margin: 0 auto;
}
.contacts__background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: saturate(203%) invert(224%);
  z-index: -1;
}
.contacts__background_box {
  width: calc(110% + 5rem);
  height: 103%;
  position: absolute;
  left: -140px;
}
.contacts__content {
  text-align: center;
  font-size: 1.4rem;
  z-index: 5;
  color: black;
}
.contacts {
  max-width: 470px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 5px;
}
.contact-name,
.contact-email,
.contact-message,
.submit {
  & label {
    display: inline-block;
    padding: 0 1rem 0 0;
  }
}
.contact-name,
.contact-email {
  text-align: right;
  padding-bottom: 2rem;
}
.contact-message {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-bottom: 2rem;
}
#name,
#email {
  max-height: 3vw;
  max-width: 23vw;
  font-size: 0.9em;
  border-radius: 5px;
  border: $border;
  font-family: "Amatic SC", cursive;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.61);
  transition: all 0.5s;
  &:hover {
    box-shadow: $b-shadow;
  }
}
#message {
  max-height: 10vw;
  max-width: 23vw;
  text-align: left;
  font-size: 0.9em;
  padding: 0.5rem;
  border-radius: 5px;
  border: $border;
  font-family: "Amatic SC", cursive;
  outline-color: black;
  background-color: rgba(255, 255, 255, 0.61);
  transition: all 0.5s;
  &:hover {
    box-shadow: $b-shadow;
  }
}
.notification-message {
  display: inline-block;
  font-size: 0.9em;
  border-radius: 5px;
  padding-bottom: 1rem;
  background-color: rgba(165, 172, 172, 0.281);
  visibility: hidden;
}
#submit {
  max-height: 50px;
  max-width: 150px;
  padding: 15px;
  line-height: 0.9em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Amatic SC", cursive;
  border: $border;
  color: white;
  background-color: #132850;
  transition: all 0.5s;
  &:hover {
    box-shadow: $b-shadow;
  }
}

/////////////////////Footer////////////////////////////////
.footer {
  min-height: 60px;
  margin: 0;
  background-color: #132850;
  box-shadow: $b-shadow;
  font-size: 1.3rem;
  color: white;
  z-index: 10;
}
.rights,
.author,
.connection {
  max-width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 15px;
  vertical-align: middle;
  p {
    margin: 0;
  }
}
.icon_me {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0.8rem;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(2.5) translateY(-30px) translateX(-17px);
  }
  & img {
    width: 100%;
  }
}
.icon {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0 10px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.3);
  }
  a {
    color: white;
  }
}
.biger {
  font-size: 2rem;
}
///////////////////////Mini navigation/////////////////////
.burger {
  bottom: 57px;
  cursor: pointer;
}
.mini-navigation {
  position: fixed;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 1px rgb(121, 120, 120);
  background-color: rgba(219, 218, 218, 0.541);
  text-align: center;
  line-height: 40px;
  z-index: 100;
  transition: all 0.1s;
  color: rgb(78, 77, 77);
  &:hover {
    box-shadow: 3px 3px 12px 2px rgb(68, 68, 68);
  }
}
.fa-bars {
  font-size: 1.4em !important;
}
.mini-navigation-menu {
  position: fixed;
  right: 60px;
  bottom: 5px;
  border-radius: 10px;
  background-color: rgba(99, 98, 98, 0.747);
  transition: all 0.5s;
  z-index: 100;
  transition: all 0.5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//////////////////////Scroll to top////////////////////////
.scroll-top-btn {
  bottom: 11px;
  cursor: pointer;
}
.fa-angle-up {
  font-size: 2.4em !important;
  top: -2px;
  position: relative;
}

///////////////////Adaptability////////////////////////////////
@media (max-width: 1245px) {
  .title-side,
  .content-side {
    max-height: none;
  }
  .content-side {
    &.row {
      max-height: 650px;
    }
  }
  #about {
    margin: 1rem auto;
  }
  #skills,
  #certificates,
  #works {
    margin: 0 auto 1rem;
  }
  .about__content_text {
    padding: 2rem 4rem;
  }
}
@media (max-width: 1010px) {
  .certificate {
    max-width: none;
  }
}
@media (max-width: 900px) {
  #about,
  #skills,
  #certificates,
  #works,
  #contacts {
    flex-direction: column;
  }
  .title-side,
  .content-side {
    width: 100%;
  }
  .title-side {
    height: 500px;
  }
  .left-header,
  .right-header {
    margin: 0;
  }
  .certificate {
    max-width: 44%;
  }
  .certificate__galary {
    top: 500px;
    height: calc(100% - 500px);
  }
  #contacts {
    .container {
      flex-direction: column;
    }
  }
  .footer {
    .container {
      flex-wrap: wrap;
    }
  }
  .rights,
  .author,
  .connection {
    max-width: none;
    min-width: 300px;
    padding: 1rem;
  }
  .contacts__content {
    font-size: 1;
  }
  .contacts {
    padding: 4rem;
  }
  #name,
  #email,
  #message {
    max-height: none;
    max-width: none;
  }
}
@media (max-width: 625px) {
  .logo {
    width: 40%;
  }
  .navigation {
    height: 96%;
    left: -1.8rem;
  }
  .navigation__item a {
    padding: 0.2rem 2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .column {
    max-width: 100%;
    flex: 100%;
  }
  .certificate {
    max-width: none;
  }
  .certificate__galary {
    display: none;
  }
}
@media (max-width: 550px) {
  // #works {
  //   .row {
  //     flex-wrap: nowrap;
  //   }
  // }
  .contacts {
    max-width: none;
    padding: 1rem;
  }
  .about__content_text {
    padding: 2rem;
  }
}
@media (max-width: 455px) {
  .navigation {
    bottom: -10.8rem;
    left: calc(60% - 8rem);
  }
  .navigation__item a {
    font-size: 1.3rem;
  }
  .navigation__item {
    padding: 0 0.17rem;
    &:hover {
      transform: translateY(5px);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-200px);
    }
  }
}
@media (max-width: 410px) {
  .contact-name,
  .contact-email,
  .contact-message {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .navigation {
    bottom: -9.6rem;
    left: calc(60% - 7rem);
  }
  .navigation__item a {
    font-size: 1.1rem;
  }
}
