* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "KoHo", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  background: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.header {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.header {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-image: url("../../img/volny_riab_voda.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 40%;
  z-index: 10;
}

.logo img {
  width: 100%;
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.navigation {
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: rgba(99, 98, 98, 0.445);
}

.visible {
  visibility: visible;
}

.list__item a {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.7rem;
  color: white;
}

#works {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9afc), color-stop(rgba(95, 226, 226, 0.486)), to(white));
  background-image: linear-gradient(#4f9afc, rgba(95, 226, 226, 0.486), white);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-flex: 28%;
      -ms-flex: 28%;
          flex: 28%;
  max-width: 28%;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 595px;
  margin: 30px 15px;
  border: 1px solid #666565;
  border-radius: 10px;
  color: #030f0f;
  font-size: 1.3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e89ff), color-stop(rgba(95, 226, 226, 0.486)), to(white));
  background-image: linear-gradient(#2e89ff, rgba(95, 226, 226, 0.486), white);
}

figure:hover {
  -webkit-box-shadow: 3px 3px 10px 0px #414040;
          box-shadow: 3px 3px 10px 0px #414040;
}

figure img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

figure p {
  padding: 0 1rem;
  text-indent: 1rem;
  text-align: justify;
}

.scroll {
  border-radius: 50%;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.scroll-top-btn {
  position: fixed;
  right: 10px;
  bottom: 11px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 8px 1px #797878;
          box-shadow: 1px 1px 8px 1px #797878;
  background-color: rgba(219, 218, 218, 0.541);
  z-index: 5;
}

.scroll-top-btn:hover {
  -webkit-box-shadow: 3px 3px 12px 2px #444444;
          box-shadow: 3px 3px 12px 2px #444444;
}

.scroll-top-btn-icon {
  display: block;
  position: relative;
  top: 4px;
  left: 4px;
  width: 30px;
  height: 30px;
}
