* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "KoHo", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0;
  height: 0;
  background: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.title {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.title-side {
  position: relative;
  width: 40%;
  max-height: 650px;
  background-size: cover;
}

.title-side h2 {
  position: absolute;
  width: 100%;
  font-size: 4rem;
  top: 50%;
  margin-top: -2rem;
  color: white;
  text-shadow: 2px 2px 5px #1f1e1e;
}

.content-side {
  width: 60%;
  max-height: 650px;
}

#about,
#skills,
#certificates,
#works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 4rem;
  max-width: 1444px;
}

.right-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.left-header {
  margin-left: 1rem;
  border-bottom-left-radius: 63%;
  border-top-right-radius: 65%;
}

.right-header {
  margin-right: 1rem;
  border-bottom-right-radius: 63%;
  border-top-left-radius: 65%;
}

.header {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-image: url("../../img/volny_riab_voda.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 47%;
  z-index: 10;
}

.logo img {
  width: 100%;
  border-radius: 1em;
  -webkit-box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
          box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.logo img:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
}

.navigation {
  visibility: hidden;
  position: absolute;
  left: -3.5rem;
  height: 98.5%;
  border-radius: 10px;
  background-color: rgba(99, 98, 98, 0.445);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.navigation__item {
  text-align: center;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  padding-right: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation__item:hover {
  background-color: rgba(245, 237, 237, 0.336);
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
}

.navigation__item a {
  display: block;
  padding: 0.35rem 2rem;
  font-size: 1.71rem;
  color: white;
  text-shadow: 2px 2px 5px #1f1e1e;
}

#about {
  margin-top: 4rem;
}

.about__header {
  background-image: url("../../img/skaly_more_okean_zakat.jpg");
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content_text {
  font-size: 1.5rem;
  padding: 4rem;
}

blockquote {
  text-align: right;
  font-style: italic;
}

.skills__header {
  background-image: url("../../img/whils.jpg");
}

.skills__content {
  text-align: center;
}

.ration-table {
  margin: 1.6rem 0;
  text-align: right;
}

.ration-table__item {
  padding: 1rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

progress {
  width: 80%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border: 0;
  margin: 0 1.5rem 0 0.5rem;
  background: #eee;
  border-radius: 10px;
  color: #b1acb1;
  /* IE10 */
}

progress::-webkit-progress-bar {
  background: #eee;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  border-radius: 10px;
  background: linear-gradient(to right, #22faef, #3131dd, #8c14bb);
  /* Firefox */
}

progress::-webkit-progress-value {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#22faef), color-stop(#3131dd), to(#8c14bb));
  background: linear-gradient(to right, #22faef, #3131dd, #8c14bb);
  /* Chrome */
}

.certificates__header {
  background-image: url("../../img/skaly_vecher_serye.jpg");
  z-index: 5;
}

#certificates {
  position: relative;
}

.certificates__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificate__galary {
  position: absolute;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(92, 90, 90, 0.678);
}

.certificate {
  position: relative;
  max-width: 44%;
  margin: 1rem;
  border-radius: 5px;
  color: #030f0f;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.certificate:hover {
  -webkit-box-shadow: 3px 3px 10px 0px #414040;
          box-shadow: 3px 3px 10px 0px #414040;
}

.certificate:hover .description {
  visibility: visible;
  -webkit-animation: slide-up 0.5s 1;
          animation: slide-up 0.5s 1;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.certificate__img {
  width: 100%;
  border-radius: 5px;
}

.description {
  position: absolute;
  visibility: hidden;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  bottom: 0;
  text-align: center;
  background: rgba(220, 220, 220, 0.753);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.galary-certificate {
  max-width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  z-index: 50;
}

.right-btn,
.left-btn {
  cursor: pointer;
  top: calc(50% - 20px);
}

.right-btn.mini-navigation,
.left-btn.mini-navigation {
  position: absolute !important;
}

.right-btn {
  right: calc(12% - 2rem) !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.left-btn {
  left: calc(12% - 2rem);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.close-btn {
  position: absolute !important;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}

.close-btn .fa-angle-up {
  top: 3px;
}

.fa-angle-down {
  font-size: 2.4em !important;
  top: -5px;
  position: absolute;
}

#works {
  position: relative;
}

.works__header {
  background-image: url("../../img/gory_les_sumerki.jpg");
  z-index: 5;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.row::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  background: transparent;
}

.row.content-side::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(transparent));
  background: linear-gradient(white, transparent);
  z-index: 1;
}

.row.content-side::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background: linear-gradient(transparent, white);
  z-index: 1;
}

.column {
  -webkit-box-flex: 49%;
      -ms-flex: 49%;
          flex: 49%;
  max-width: 49%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 595px;
  margin: 30px 15px;
  border: 1px solid #666565;
  border-radius: 10px;
  color: #030f0f;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.work:hover {
  -webkit-box-shadow: 3px 3px 10px 0px #414040;
          box-shadow: 3px 3px 10px 0px #414040;
}

.work__img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.work__img img {
  margin-bottom: -5px;
  width: 100%;
}

.work__caption {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 250, 239, 0.356)), color-stop(rgba(69, 69, 255, 0.548)), to(rgba(140, 20, 187, 0.356)));
  background-image: linear-gradient(to top, rgba(34, 250, 239, 0.356), rgba(69, 69, 255, 0.548), rgba(140, 20, 187, 0.356));
}

.work__caption p {
  padding: 0 1rem;
  text-indent: 1rem;
  text-align: justify;
}

#contacts {
  margin: 0 auto;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1444px;
  margin: 0 auto;
}

.contacts__background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-filter: saturate(203%) invert(224%);
          filter: saturate(203%) invert(224%);
  z-index: -1;
}

.contacts__background_box {
  width: calc(110% + 5rem);
  height: 103%;
  position: absolute;
  left: -140px;
}

.contacts__content {
  text-align: center;
  font-size: 1.4rem;
  z-index: 5;
  color: black;
}

.contacts {
  max-width: 470px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 5px;
}

.contact-name label,
.contact-email label,
.contact-message label,
.submit label {
  display: inline-block;
  padding: 0 1rem 0 0;
}

.contact-name,
.contact-email {
  text-align: right;
  padding-bottom: 2rem;
}

.contact-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

#name,
#email {
  max-height: 3vw;
  max-width: 23vw;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid #666565;
  font-family: "Amatic SC", cursive;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.61);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#name:hover,
#email:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
          box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
}

#message {
  max-height: 10vw;
  max-width: 23vw;
  text-align: left;
  font-size: 0.9em;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #666565;
  font-family: "Amatic SC", cursive;
  outline-color: black;
  background-color: rgba(255, 255, 255, 0.61);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#message:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
          box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
}

.notification-message {
  display: inline-block;
  font-size: 0.9em;
  border-radius: 5px;
  padding-bottom: 1rem;
  background-color: rgba(165, 172, 172, 0.281);
  visibility: hidden;
}

#submit {
  max-height: 50px;
  max-width: 150px;
  padding: 15px;
  line-height: 0.9em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Amatic SC", cursive;
  border: 1px solid #666565;
  color: white;
  background-color: #132850;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#submit:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
          box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
}

.footer {
  min-height: 60px;
  margin: 0;
  background-color: #132850;
  -webkit-box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
          box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.596);
  font-size: 1.3rem;
  color: white;
  z-index: 10;
}

.rights,
.author,
.connection {
  max-width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 15px;
  vertical-align: middle;
}

.rights p,
.author p,
.connection p {
  margin: 0;
}

.icon_me {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0.8rem;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon_me:hover {
  -webkit-transform: scale(2.5) translateY(-30px) translateX(-17px);
          transform: scale(2.5) translateY(-30px) translateX(-17px);
}

.icon_me img {
  width: 100%;
}

.icon {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.icon a {
  color: white;
}

.biger {
  font-size: 2rem;
}

.burger {
  bottom: 57px;
  cursor: pointer;
}

.mini-navigation {
  position: fixed;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 8px 1px #797878;
          box-shadow: 1px 1px 8px 1px #797878;
  background-color: rgba(219, 218, 218, 0.541);
  text-align: center;
  line-height: 40px;
  z-index: 100;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #4e4d4d;
}

.mini-navigation:hover {
  -webkit-box-shadow: 3px 3px 12px 2px #444444;
          box-shadow: 3px 3px 12px 2px #444444;
}

.fa-bars {
  font-size: 1.4em !important;
}

.mini-navigation-menu {
  position: fixed;
  right: 60px;
  bottom: 5px;
  border-radius: 10px;
  background-color: rgba(99, 98, 98, 0.747);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  visibility: hidden;
  transition: all 0.5s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visible {
  visibility: visible;
}

.scroll-top-btn {
  bottom: 11px;
}

.fa-angle-up {
  font-size: 2.4em !important;
  top: -2px;
  position: relative;
}

@media (max-width: 1245px) {
  .title-side,
  .content-side {
    max-height: none;
  }
  .content-side.row {
    max-height: 650px;
  }
  #about {
    margin: 1rem auto;
  }
  #skills,
  #certificates,
  #works {
    margin: 0 auto 1rem;
  }
  .about__content_text {
    padding: 2rem 4rem;
  }
}

@media (max-width: 900px) {
  #about,
  #skills,
  #certificates,
  #works,
  #contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-side,
  .content-side {
    width: 100%;
  }
  .title-side {
    height: 500px;
  }
  .left-header,
  .right-header {
    margin: 0;
  }
  #contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rights,
  .author,
  .connection {
    max-width: none;
    min-width: 300px;
    padding: 1rem;
  }
  .contacts__content {
    font-size: 1;
  }
  .contacts {
    padding: 4rem;
  }
  #name,
  #email,
  #message {
    max-height: none;
    max-width: none;
  }
}

@media (max-width: 625px) {
  .logo {
    width: 40%;
  }
  .navigation {
    height: 96%;
    left: -1.8rem;
  }
  .navigation__item a {
    padding: 0.2rem 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .certificate {
    max-width: none;
  }
}

@media (max-width: 550px) {
  .contacts {
    max-width: none;
    padding: 1rem;
  }
  .about__content_text {
    padding: 2rem;
  }
}

@media (max-width: 455px) {
  .navigation {
    bottom: -10.8rem;
    left: calc(60% - 8rem);
  }
  .navigation__item a {
    font-size: 1.3rem;
  }
  .navigation__item {
    padding: 0 0.17rem;
  }
  .navigation__item:hover {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
  }
}

@media (max-width: 410px) {
  .contact-name,
  .contact-email,
  .contact-message {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation {
    bottom: -9.6rem;
    left: calc(60% - 7rem);
  }
  .navigation__item a {
    font-size: 1.1rem;
  }
}
